body{


margin:0;


background:#07111f;


color:white;


font-family:

Arial,
"Microsoft YaHei";



}



.container{


max-width:700px;


margin:auto;


padding:15px;


}



.card{


background:#142235;


padding:20px;


margin-bottom:15px;


border-radius:20px;



}



h1{


text-align:center;


color:#60a5fa;


}



h2{


color:#38bdf8;


}



button{


width:100%;


height:48px;


margin-top:10px;


border:0;


border-radius:15px;


background:#2563eb;


color:white;


font-size:16px;


}




input{


width:100%;


height:45px;


margin-top:8px;


border-radius:12px;


border:0;


padding:10px;


background:#24344d;


color:white;


}




.number{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:10px;


}



.box{


background:#0b1628;


padding:15px;


border-radius:15px;


line-height:30px;


}