body{

margin:0;

background:#f2f2f2;

font-family:

"Microsoft YaHei";

}



.container{

max-width:650px;

margin:auto;

padding:20px;

}




h1,h2{

text-align:center;

}





.card{

background:white;

padding:15px;

margin-top:15px;

border-radius:12px;

box-shadow:

0 2px 8px #ccc;

}




button{

width:100%;

padding:12px;

margin-top:10px;

background:#1677ff;

color:white;

border:0;

border-radius:8px;

font-size:16px;

}




input{

width:45px;

padding:8px;

margin:5px;

}




.progress{

height:25px;

background:#ddd;

border-radius:20px;

overflow:hidden;

}



#bar{

height:100%;

width:0;

background:#00aa55;

transition:.3s;

}




.result{

padding:10px;

border-bottom:1px solid #ddd;

}